name: publish-ghcr.yml
on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and push the image
        run: |
          docker login -u drew-chase -p ${{ secrets.GH_PAT }} ghcr.io
          docker build --build-arg TMDB_API_KEY=${{ secrets.TMDB_API_KEY }} OPENSUBTITLES_API_KEY=${{ secrets.OPENSUBTITLES_API_KEY }} -t ghcr.io/drew-chase/playarr:latest .
          docker push ghcr.io/drew-chase/playarr:latest